/* ******* Reset ******* */

html {
    box-sizing: border-box;
    font-family: raleway;
    font-size: 16px;
    scroll-behavior: smooth;
 }

 *,
 *::after,
 *::before {
    box-sizing: inherit;
 }


 body {
    margin: 0;
    overflow-x: hidden;
 }


/* ****** Animaciones ****** */

/* Animacion Fade */

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animacion Slide-Up */

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);

    }
    
}

/* Animacion Slide-right */

@keyframes slide-right {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0);
    }
}

/* Animacion Slide-left */

@keyframes slide-left {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

/* Animacion al h4 */

.home-container h4 {
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

/* Animacion al h2 */

.home-profesion h2 {
    opacity: 0; 
    animation: fade 0.8s ease-in forwards /*forwards es para que el elemento quede fijo al final*/, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
    
} 

/* Animacion al p */

.home-parrafo p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards /*forwards es para que el elemento quede fijo al final*/, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
}

/* Animacion al p del home-btn */

.home-btns p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards /*forwards es para que el elemento quede fijo al final*/, slide-left 0.9s ease-in-out;
    animation-delay: 0.5s;
}

/* Animacion al svg */

.home-social-media svg {
    opacity: 0;
    animation: fade 0.8s ease-in forwards /*forwards es para que el elemento quede fijo al final*/, slide-left 0.9s ease-in-out;
    animation-delay: 0.5s;
}

/* Animacion al img */

.home-img img {
    animation: fade 1s ease-in, slide-right 1.5s ease-in-out;

}

/* ****** Header ****** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1rem;
    z-index: 999;
    width: 100%;
    height: 80px;
    background: #191923 ;
}


h1 {
    color: #fff;
    margin:0;
    font-size: 2rem;
}


/* ***** Menu ****** */


.menu ul  {
    list-style: none;
    display: flex;
}

.menu i {
    font-size: 2rem;
    padding: 1rem;
    display: none;
    color: #00a98f;
}

#toggle-menu {
    display: none;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    color: #00a98f;
}

.menu a:hover {
    color:  rgba(243, 237, 237, 0.885);
    opacity: 0.75;
}





/* ****** Home ****** */

.home-container {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem; 
    background-color:#191923;
}



.home-description > h4 {
    color: #fff;
    font-size: 2rem;
}

.green {
    color: #00a98f;
    font-size: 2.5rem;
}



.home-profesion > h2 {
    color: #fff;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.home-parrafo {
    max-width: 50%;
}

.home-parrafo > p {
    color: #fff;
    font-size: 1.2rem;
}

.home-btn > a {
    text-decoration-line: none;
    color: #00a98f;
}

.home-btn > a:hover {
    opacity: 0.75;
}

.home-img {
    display: flex;
    padding-right: 4rem;
    padding-bottom: 3rem;
}

.home-img > img {
    width: 500px;
    height: 500px;
    transition: transform 1s ease-in-out;
    filter: drop-shadow(0 10px 10px rgba(1,190,149,.439216));
}

.home-img > img:hover {
    transform: perspective(1000px) translateZ(4rem);
}


/* ----------------------------------------------
 * Generated by Animista on 2023-5-14 19:15:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }

.rotate-in-center:hover {
    animation-name: rotate-in-center;
    animation-duration: 1s;
    filter: drop-shadow(0 10px 10px rgba(1,190,149,.439216));
}

.home-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 2rem;
}

.home-btns > p {
    color: #fff;
}

.home-social-media  svg {
    fill: #00a98f;
    width: 35px;
    height: 35px;
    transition: filter 1s ease-in-out;
}



/* ***** Skills ***** */

.skills-container {
    margin: 0;
    background-color: #191923;
    width: 100%;
    overflow: hidden;
}

.skills-container > h2 {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    color: #00a98f;
    text-align: center;
}

.skills-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    margin: 3rem auto;
}

.skills-logo {
    display: block;
    gap: 2rem;
    margin-top: 3rem;
}

.skills-logo > img {
    width: 100px;
    height: 100px;
    transition: transform 1s ease-in-out;
}

.skills-logo > img:hover {
    transform: perspective(100px) translateX(1rem);
    filter: drop-shadow(0 10px 10px rgba(191, 199, 197, 0.439));

}

.skills-logo > h5 {
    color: #00a98f;
    font-size: medium;
    text-align: center;
}

/* ***** Projects ***** */

.projects-container {
    margin: 0 auto;
    background-color: #191923;
    width: 100%;
    overflow: hidden;
}

.projects-container > h2 {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    color: #00a98f;
    text-align: center;
}

.projects-cards {
   display: flex; /* cambiar en las media queries*/
   margin-left: 1rem;
   margin-right: 1rem;
   width: 100%;
   margin: 0 auto;
}

.portfolio-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #00a98f;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
    text-align: center;
}

.portfolio-card:hover .portfolio-card-info {
    opacity: 1;
    pointer-events: auto;
}

.portfolio-card-info > div {
    padding: 1rem;
    border: thin solid rgba(197, 205, 202, 0.439);
    width: 100%;
    height: 100%;
}

/* ****** Contact ****** */

.contact-container {
    margin: 0 auto;
    background-color: #191923;
    width: 100%;
    overflow: hidden;
}

.contact-container > h2 {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    color: #00a98f;
    text-align: center;
}

.contact-content {
    margin: 0 auto;
    display: flex;
}

.contact-cards {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-card > h3 {
    color: #fff;
}


.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25); /* se usa en varios contenedores */
}

.svg-social-media-color {
    fill: #00a98f;
}
.social-media a {
    padding: 0 .4rem;
    text-decoration: none;
    fill: #00a98f;
}

.social-media a:hover {
    opacity: 0.75;
}


/* ****** Contact Form ****** */

.contact-form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.contact-form > * {
    padding: .5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
    background-color: #191923;
}

.contact-form input,
.contact-form textarea {
    font-size: .85rem;
    font-family: raleway;
    outline: none;
    color: #fff;
}

.contact-form input {
    border: 0;
    padding-left: 0;
    border-bottom: thin solid gray;
}

.contact-form textarea {
    border: thin solid gray;
    resize: none;
}

.contact-form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: all .5s ease-out;
    border: thin solid gray;
    padding: 1rem;
}

.contact-form input[type="submit"]:hover {
    opacity: .75;
}

.contact-form *::placeholder {
    color: #626964;
}

