/* ******* Reset ******* */

html {
    box-sizing: border-box;
    font-family: raleway;
    font-size: 16px;
    scroll-behavior: smooth;
 }

 *, 
 *::after,
 *::before {
    box-sizing: inherit;
 }

 
 /* a {
    color: #00a98f;
    transition: all 0.5s ease-out;
 }

 a:hover {
    opacity: 0.75;
 } */


/* ****** Header ****** */

.header {
    position: fixed;
    top: 0; /*se pega al borde del top*/
    left: 0;
    bottom: 0; 
    padding: 1rem;
    z-index: 999;
    width: 100%;
    height: 4rem;
    background-color: #222;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #fff;
    margin:0;
    font-size: 2rem;
}

.menu {
    position: fixed;
    right: 2rem;
    display: flex;
    gap: 1rem;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    color: #00a98f;
}

.menu a:hover {
    color:  rgba(243, 237, 237, 0.885);
    opacity: 0.75;
}


/* ****** Home ****** */

.home-container {
    position: absolute;
    left: 0;
    display: flex;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #222;
}

.home-description {
    display: flex;
    flex-direction: column;
    /* justify-content: baseline;
    align-items: flex-start; */
}

.home-description > h4 {
    color: #fff;
    font-size: 2rem;
}

.green {
    color: #00a98f;
}

.home-profesion {
    display: flex; 
    flex-direction: column;
}

.home-profesion > h2 {
    color: #fff;
    font-size: 2.5rem;
}

.home-parrafo {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.home-parrafo > p {
    color: #fff;
    font-size: 1rem;
}

.home-btns {
    display: flex;
    gap: 10px;
    padding-top: 2rem;
}

.home-btn {
    padding: 1rem 2rem;
    border: 1px solid #00a98f;
    cursor: pointer;
    width: 25%;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    background-color: #222;
}

.home-btn > a {
    text-decoration-line: none;
    color: #00a98f;
}

.home-btn > a:hover {
    opacity: 0.75;
}

.home-img {
    display: flex;
    padding-right: 4rem;
    padding-bottom: 3rem;
}

.home-img > img {
    width: 500px;
    height: 500px;
    transition: transform 2s ease-in-out;
    filter: drop-shadow(0 10px 10px rgba(1,190,149,.439216));
}

.home-img > img:hover {
    transform: perspective(1000px) translateZ(4rem);
}
