/* ******* Media Queries Desktop First ******* */

@media (max-width: 1200px) {
   .home-img > img {
        width: 350px;
        height: 350px;
    } 
     
 }

@media (max-width: 992px) {
    .home-parrafo {
        max-width: 100%;
    }

    .contact-form {
        max-width: 80%;
    }

    .projects-cards {
        display: block;
        width: 60%;
       }


}

@media (max-width: 802px) {
   .menu ul {
    background-color: #191923;
    width: 100vw;
    height: calc(100vh - 80px);
    position: absolute;
    top: 50px;
    left: 0; 
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-right: 2rem;
    display: none;
   }

   .menu i {
    display: block;
    cursor: pointer;
   }

   #toggle-menu:checked ~ .navbar-list {
    display: flex;
   }
    
}

@media (max-width:700px) {

    /* Animacion al h4 */

   .home-container h4 {
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
    } 

/* Animacion al h2 */

   .home-profesion h2 {
    opacity: 0; 
    animation: fade 0.8s ease-in forwards /*forwards es para que el elemento quede fijo al final*/, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
    }  

    /* Animacion al p */

    .home-parrafo p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards /*forwards es para que el elemento quede fijo al final*/, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
    } 

    .home-container {
        flex-direction: column;
    }

    .home-img > img {
        margin: 0 auto;
    }

    .home-img > img {
        width: 300px;
        height: 300px;
    }

    .skills-container {
        padding-top: 4.2rem;
    }

    .skills-container > h2 {
        margin: 0 auto;
    }

    .projects-container > h2 {
        margin-right: 2rem;
    }

    .contact-container {
        padding-top: 2rem;
    }

    .contact-container > h2 {
        margin-right: 2rem;
    }

    .projects-cards {
        display: block;
        width: 80%;
       }

}

@media (max-width: 392px) {
    .home-img > img {
        width: 250px;
        height: 250px;
    }
}